.css_board {
    width: 100%;
    background-color: #202734;
    border-radius: 10px;

    position: relative;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 16px;

    font-family: var(--f-code);
    font-size: 20px;
    font-weight: 500;

    .box {
        width: 144px;
        height: 144px;

        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;

        border-radius: 8px;
        padding: 12px;
        flex-shrink: 0;

        line-height: 1.2;
        font-size: 16px;
    }

    &_block {}

    &_hover {
        display: flex;
        gap: 12px;

        .box {
            background-color: #009966;

            transition: 450ms ease-out;
            cursor: pointer;

            &:hover {
                background-color: #06b6d4;
            }

            &--none {
                transition: none;
                cursor: auto;
            }
        }
    }

    &_combine {
        display: flex;
        gap: 12px;

        .box {
            background-color: #009966;

            transition: 450ms ease-out;
            cursor: pointer;

            &.is_active {
                background-color: #06b6d4;

                .box_state {
                    &:nth-child(1) {
                        display: none;
                    }

                    &:nth-child(2) {
                        display: block;
                    }
                }
            }

            &_state {
                &:nth-child(1) {}

                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    &_media {
        &_min {
            color: black;

            @media only screen and (min-width: 1024px) {
                color: red;
            }
        }

        &_max {
            color: black;

            @media only screen and (max-width: 1024px) {
                color: red;
            }
        }

        &_minmax {
            color: black;

            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                color: red;
            }
        }
    }

    &_color {}

    &_background {
        &_color {
            .box {
                width: 50%;
                background-color: #06b6d4;
            }
        }

        &_gradient {
            display: flex;
            gap: 12px;

            .box {
                width: calc(50% - 6px);

                &:nth-child(1) {
                    background-image: linear-gradient(45deg, #009966, #06b6d4);
                }

                &:nth-child(2) {
                    background-image: linear-gradient(45deg, #f6339a, #06b6d4);
                }
            }
        }

        &_url {
            display: flex;
            gap: 12px;

            .box {
                width: 100%;
                height: 400px;

                background-image: url('./../images/img_01.jpeg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 0 38%;

            }
        }

        &_clip {
            display: flex;
            gap: 12px;

            .box {
                width: calc(50% - 6px);

                background-clip: text;
                -webkit-background-clip: text;

                font-size: 40px;
                font-weight: 700;

                color: #0000;

                border: 2px solid #06b6d4;

                &:nth-child(1) {
                    background-image: linear-gradient(45deg, #009966, #06b6d4);
                }

                &:nth-child(2) {
                    background-image: linear-gradient(45deg, #f6339a, #06b6d4);
                }
            }
        }
    }

    &_d {
        &_none {
            display: none;

            @media only screen and (min-width: 1025px) {
                display: block;
            }
        }
    }

    &_margin {

        div {
            width: 200px;
            height: 200px;
            background-color: #0ea5e9;
            margin: 10px 20px 30px 40px;
        }

        &__01 {
            div {
                width: 200px;
                height: 200px;
                background-color: #0ea5e9;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &__02 {
            p {
                +p {
                    margin-top: 20px;
                }
            }
        }

        &__03 {
            display: flex;
            gap: 20px;

            div {
                width: 200px;
                padding: 20px;
                background-color: #0ea5e9;

                display: flex;
                flex-direction: column;

            }

            p {
                margin-bottom: 0;

                &:nth-child(1) {
                    margin-bottom: 20px;
                }

                &:nth-child(2) {
                    margin-top: auto;
                }
            }
        }
    }

    &_padding {

        span {
            display: inline-block;
            background-color: #0ea5e9;
            padding: 10px 20px 30px 40px;
        }
    }
}