@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --c-default: #cbd5e1;
  --c-key-word: #f59e0b;
  --c-key-word-name: #0ea5e9;
  --c-string: #fde047;
  --c-null: #ec4899;
  --c-cmt: #5c6370;
  --bc-default: #111827;
  --f-default: "Open Sans", sans-serif;
  --f-code: "Inconsolata", serif;
  --c-btn: #cbd5e1;
  --bc-btn-bc: #6b7280;
  --c-nav-link: #14b8a6;
}

.c-keyw,
c-keyw {
  font-weight: 700;
  color: var(--c-key-word);
}

.c-keyw-name,
c-keyw-name {
  font-weight: 700;
  color: var(--c-key-word-name);
}

.c-string,
c-string {
  font-weight: 500;
  color: var(--c-string);
}

.c-null,
c-null {
  font-weight: 700;
  color: var(--c-null);
}

.c-cmt,
c-cmt {
  font-weight: 500;
  color: var(--c-cmt);
  padding-right: 20px;
}

.c-strong,
c-strong {
  color: var(--c-key-word-name);
  font-weight: 700;
}

.c-note::before,
c-note::before {
  content: "#note:";
  display: inline-block;
  padding-right: 4px;
  font-weight: 700;
}

.c-tag,
c-tag {
  color: var(--c-key-word-name);
  font-weight: 700;
}
.c-tag::before, .c-tag::after,
c-tag::before,
c-tag::after {
  display: inline-block;
}
.c-tag::before,
c-tag::before {
  content: "<";
}
.c-tag::after,
c-tag::after {
  content: ">";
}

.txt-bold,
txt-bold {
  font-weight: 700;
}

.txt_border,
txt-border {
  display: inline-block;
  font-family: var(--f-code);
  font-weight: 700;
  line-height: 1.35;
  color: var(--c-key-word-name);
  border: 1px solid var(--c-key-word-name);
  border-radius: 4px;
  padding: 0px 8px;
}

html {
  scrollbar-width: thin;
}

body {
  background-color: var(--bc-default);
  font-family: var(--f-default);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--c-default);
  letter-spacing: 0.01em;
}

.link,
a {
  display: inline-block;
  color: var(--c-nav-link);
  text-decoration: none;
  transition: opacity 150ms linear;
  position: relative;
  cursor: pointer;
}
.link:hover,
a:hover {
  opacity: 0.6;
}
.link:hover::after,
a:hover::after {
  scale: 0 0;
}

.link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: currentColor;
  position: absolute;
  left: 0;
  bottom: 0.1em;
  transition: scale 300ms ease-out;
}

h2 {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

h3 {
  font-size: 26px;
  font-weight: 700;
  border-left: 2px solid currentColor;
  margin-bottom: 28px;
  padding-left: 12px;
}

h4 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 24px;
}
h4::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: currentColor;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 0.1em;
  margin-right: 8px;
}

h5 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 10px;
}
h5::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: currentColor;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 0.1em;
  margin-right: 8px;
}

h6 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.6;
  margin-bottom: 8px;
}

dl {
  display: flex;
  padding-left: 24px;
}
dl dt {
  flex-shrink: 0;
  padding-right: 8px;
}

.pre {
  width: 100%;
  background-color: #202734;
  border-radius: 10px;
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px 24px;
  overflow: auto;
  scrollbar-width: thin;
  font-family: var(--f-code);
  font-size: 20px;
  font-weight: 500;
}
.pre * {
  white-space: nowrap;
}
.pre ul {
  padding-left: 24px;
}

.lists {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}
.lists li {
  position: relative;
  padding: 4px 16px;
}
.lists li::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: currentColor;
  position: absolute;
  top: 0.82em;
  left: 0;
  border-radius: 99px;
}

.counter {
  counter-reset: ul-counter;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}
.counter > li {
  counter-increment: ul-counter;
  position: relative;
  padding: 4px 16px;
}
.counter > li + li {
  margin-top: 16px;
}
.counter > li h6::before {
  content: counter(ul-counter) ".";
  width: 24px;
  display: inline-block;
}

.alpha {
  counter-reset: ul-alpha;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}
.alpha > li {
  counter-increment: ul-alpha;
  position: relative;
  padding: 4px 16px;
}
.alpha > li::before {
  content: counter(ul-alpha, lower-alpha) ".";
  width: 24px;
  display: inline-block;
}
.alpha > li + li {
  margin-top: 16px;
}
.alpha > li p {
  margin-top: 8px;
}
.alpha > li p span {
  color: var(--c-key-word-name);
  font-weight: 700;
}
.alpha > li div p {
  color: var(--c-key-word-name);
  font-weight: 700;
}

.block {
  padding-bottom: 32px;
}
.block_child {
  padding-left: 32px;
  padding-right: 32px;
}
.block_run {
  border: 1px solid var(--c-default);
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
}
.block_run .pre {
  margin: 0;
}
.block_border {
  border: 1px solid var(--c-default);
  border-radius: 8px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px 24px;
}
.block_note {
  position: relative;
  padding-bottom: 48px;
}
.block_note::after {
  content: "";
  width: 320px;
  height: 1px;
  background-color: var(--c-cmt);
  display: block;
  position: absolute;
  bottom: 24px;
  left: 50%;
  translate: -50% 0;
}

.btn {
  font-family: var(--f-code);
  min-width: 144px;
  min-height: 40px;
  background-color: #202734;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4px 8px;
  cursor: pointer;
  transition: 300ms ease;
}
.btn:hover {
  color: #202734;
  background-color: var(--c-default);
}
.btn_cmt {
  background-color: var(--c-cmt);
}

input[type=text] {
  width: 440px;
  padding: 8px;
  background-color: var(--c-cmt);
  display: block;
  border-radius: 4px;
  font-family: var(--f-code);
  font-size: 20px;
  font-weight: 500;
  color: var(--c-default);
  border: 0;
  outline: 0;
  margin-bottom: 12px;
}

hr {
  width: 30%;
  height: 2px;
  background-color: var(--c-cmt);
  border: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}

.red {
  color: red;
}
.red-hover {
  transition: color;
}
.red-hover:hover {
  color: yellow;
}

.font-40px {
  font-size: 40px !important;
}

.f-code {
  font-family: var(--f-code) !important;
  font-size: 20px;
  font-weight: 500;
}

.f-center {
  text-align: center;
}

.test {
  background-color: red;
}

.duration-2s {
  transition-duration: 2s;
}

.app_menu {
  position: fixed;
  z-index: 1000;
  inset: 0;
  pointer-events: none;
}
.app_menu.is_open {
  pointer-events: all;
}
.app_menu.is_open .app_menu_mask {
  opacity: 1;
}
.app_menu.is_open .app_menu_area {
  translate: none;
}
.app_menu_open {
  width: 44px;
  height: 44px;
  position: fixed;
  top: 16px;
  right: 16px;
  border: 1px solid var(--c-default);
  border-radius: 8px;
  cursor: pointer;
  pointer-events: all;
}
.app_menu_open:hover .app_menu_open_dot::after, .app_menu_open:hover .app_menu_open_dot::before {
  top: 0;
}
.app_menu_open_dot {
  width: 8px;
  height: 8px;
  background-color: var(--c-default);
  border-radius: 99px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.app_menu_open_dot::after, .app_menu_open_dot::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 99px;
  position: absolute;
  left: 0;
  transition: top 300ms ease-out;
}
.app_menu_open_dot::before {
  top: -11px;
}
.app_menu_open_dot::after {
  top: 11px;
}
.app_menu_mask {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
}
.app_menu_logo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  color: var(--c-key-word-name);
  text-align: center;
}
.app_menu_area {
  width: 360px;
  height: 100%;
  background-color: var(--bc-default);
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  translate: 105% 0;
  transition: translate 300ms ease-out;
}
.app_menu_area .overflow {
  overflow: auto;
  height: 100%;
  max-height: calc(100vh - 80px - 8px);
  scrollbar-width: thin;
}
.app_menu_lists {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
}
.app_menu_link {
  color: var(--c-default);
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  z-index: 0;
  padding: 8px 12px;
  border-bottom: 1px solid var(--c-cmt);
}
.app_menu_link.is_open, .app_menu_link:hover {
  opacity: 1;
  color: var(--c-key-word-name);
}
.app_menu_link.is_open::before, .app_menu_link:hover::before {
  background-color: var(--c-key-word-name);
  box-shadow: 0 0 8px 0 #fff;
}
.app_menu_link.is_open::after, .app_menu_link:hover::after {
  opacity: 0.32;
}
.app_menu_link.is_open {
  pointer-events: none;
}
.app_menu_link::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--c-cmt);
  display: inline-block;
  rotate: 45deg;
  margin-right: 8px;
  transition: background-color 300ms ease-out;
}
.app_menu_link::after {
  content: "";
  background-color: var(--c-cmt);
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0;
  transition: opacity 350ms ease-out;
}

.app_main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.app_main_content {
  padding: 48px 16px 24px;
}
.app_main_block {
  min-height: 480px;
  padding-bottom: 48px;
}

.app_last_pos {
  position: fixed;
  inset: 0;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: 150ms ease-out;
  pointer-events: none;
}
.app_last_pos.is_show {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.app_last_pos_mask {
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: var(--bc-default);
  opacity: 0.8;
}
.app_last_pos_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.app_last_pos_txt {
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  padding: 10px 20px;
  color: var(--c-btn);
  background-color: var(--bc-btn-bc);
  transition: 150ms ease-out;
  cursor: pointer;
  box-shadow: 0 0 0px 0 var(--c-btn);
}
.app_last_pos_txt:hover {
  box-shadow: 0 0 6px 2px var(--c-btn);
}
.app_last_pos_close {
  width: 24px;
  height: 24px;
  background-color: var(--c-btn);
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  translate: 50% -50%;
  border-radius: 99px;
  cursor: pointer;
  transition: 150ms ease-out;
}
.app_last_pos_close:hover {
  box-shadow: 0 0 8px 0 var(--c-btn);
}
.app_last_pos_close::after, .app_last_pos_close::before {
  content: "";
  width: 12px;
  height: 1px;
  background-color: var(--bc-btn-bc);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.app_last_pos_close::before {
  rotate: 45deg;
}
.app_last_pos_close::after {
  rotate: -45deg;
}

.app_related {
  width: 100%;
  background-color: var(--bc-default);
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
  display: flex;
  align-content: inherit;
  justify-content: space-between;
  padding: 16px 32px;
  border-bottom: 4px solid var(--bc-btn-bc);
}
.app_lesson_lists {
  --counter: lesson-order;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.app_lesson_lists li {
  counter-increment: lesson-order;
  width: calc(33.33% - 11px);
  min-height: 96px;
}
.app_lesson_lists a {
  width: 100%;
  height: 100%;
  color: var(--c-default);
  background-color: var(--c-cmt);
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}
.app_lesson_lists a::before {
  content: "Bài " counter(lesson-order) " :";
  display: block;
}

.app_lesson_homework {
  display: flex;
  gap: 32px;
}
.app_lesson_homework li {
  flex-shrink: 0;
}
.app_lesson_homework a {
  padding-left: 4px;
  padding-right: 4px;
}

.code_board {
  width: 100%;
  background-color: #202734;
  border-radius: 10px;
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px 24px;
  font-family: var(--f-code);
  font-size: 20px;
  font-weight: 500;
}
.code_board .overflow {
  width: 100%;
  max-height: 288px;
  overflow: auto;
  scrollbar-width: thin;
}
.code_board_btn {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.code_board .target_shape {
  width: 96px;
  height: 96px;
  background-color: var(--c-cmt);
}

/*# sourceMappingURL=style.css.map */
