.app_last_pos {
    position: fixed;
    inset: 0;
    z-index: 2000;

    opacity: 0;
    visibility: hidden;

    transition: 150ms ease-out;
    pointer-events: none;

    &.is_show {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    &_mask {
        position: absolute;
        z-index: -1;
        inset: 0;
        background-color: var(--bc-default);
        opacity: 0.8;
    }

    &_btn {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }

    &_txt {
        display: inline-block;
        text-align: center;

        border-radius: 8px;

        padding: 10px 20px;
        color: var(--c-btn);
        background-color: var(--bc-btn-bc);

        transition: 150ms ease-out;
        cursor: pointer;

        box-shadow: 0 0 0px 0 var(--c-btn);

        &:hover {
            box-shadow: 0 0 6px 2px var(--c-btn);
        }
    }

    &_close {
        width: 24px;
        height: 24px;
        background-color: var(--c-btn);

        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        translate: 50% -50%;

        border-radius: 99px;
        cursor: pointer;

        transition: 150ms ease-out;

        &:hover {
            box-shadow: 0 0 8px 0 var(--c-btn);
        }

        &::after,
        &::before {
            content: '';
            width: 12px;
            height: 1px;
            background-color: var(--bc-btn-bc);
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
        }

        &::before {
            rotate: 45deg;
        }

        &::after {
            rotate: -45deg;
        }
    }
}