.app_main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    &_content {
        padding: 48px 16px 24px;
    }

    &_block {
        min-height: 480px;
        padding-bottom: 48px;
    }
}