.app_menu {
    position: fixed;
    z-index: 1000;
    inset: 0;
    pointer-events: none;

    &.is_open {
        pointer-events: all;

        .app_menu {
            &_mask {
                opacity: 1;
            }

            &_area {
                translate: none;
            }
        }
    }

    &_open {
        width: 44px;
        height: 44px;

        position: fixed;
        top: 16px;
        right: 16px;

        border: 1px solid var(--c-default);
        border-radius: 8px;
        cursor: pointer;
        pointer-events: all;

        &:hover {
            .app_menu_open_dot {

                &::after,
                &::before {
                    top: 0;
                }
            }
        }

        &_dot {
            width: 8px;
            height: 8px;
            background-color: var(--c-default);

            border-radius: 99px;

            position: absolute;
            top: 50%;
            left: 50%;

            translate: -50% -50%;

            &::after,
            &::before {
                content: '';
                width: 100%;
                height: 100%;

                background-color: inherit;
                border-radius: 99px;

                position: absolute;
                left: 0;
                transition: top 300ms ease-out;
            }

            &::before {
                top: -11px;
            }

            &::after {
                top: 11px;
            }
        }
    }

    &_mask {
        position: absolute;
        inset: 0;
        background-color: rgba($color: #000, $alpha: 0.6);
        z-index: -1;
        opacity: 0;
    }

    &_logo {
        height: 80px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 32px;
        font-weight: 700;
        color: var(--c-key-word-name);
        text-align: center;
    }

    &_area {
        width: 360px;
        height: 100%;
        background-color: var(--bc-default);

        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        translate: 105% 0;
        transition: translate 300ms ease-out;

        .overflow {
            overflow: auto;
            height: 100%;
            max-height: calc(100vh - 80px - 8px);
            scrollbar-width: thin;
        }
    }

    &_lists {
        width: 100%;

        display: flex;
        flex-direction: column;

        padding-bottom: 48px;
    }

    &_link {
        color: var(--c-default);
        display: flex;
        align-items: center;
        height: 50px;

        position: relative;
        z-index: 0;
        padding: 8px 12px;
        border-bottom: 1px solid var(--c-cmt);

        &.is_open,
        &:hover {
            opacity: 1;
            color: var(--c-key-word-name);

            &::before {
                background-color: var(--c-key-word-name);
                box-shadow: 0 0 8px 0 #fff;
            }

            &::after {
                opacity: 0.32;
            }
        }

        &.is_open {
            pointer-events: none;
        }

        &::before {
            content: '';
            width: 6px;
            height: 6px;

            background-color: var(--c-cmt);
            display: inline-block;
            rotate: 45deg;
            margin-right: 8px;

            transition: background-color 300ms ease-out;
        }

        &::after {
            content: '';
            background-color: var(--c-cmt);

            position: absolute;
            z-index: -1;
            inset: 0;
            opacity: 0;

            transition: opacity 350ms ease-out;

        }
    }
}