.app_menu {
    width: 64px;
    height: 100vh;
    height: 100lvh;

    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    pointer-events: none;

    &_mask {}

    &_lists {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 12px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &_item {
        position: relative;
        cursor: pointer;
        pointer-events: all;

        &:nth-child(1) {
            &::after {
                display: none;
            }
        }

        &:hover,
        &.is_active {
            .app_menu {
                &_dot {
                    --size: 20px;

                    &::after {
                        // background-color: var(--c-pink);
                    }
                }
            }
        }

        &:hover {
            .app_menu_title {
                --alpha: 1;
                --right: 16px;
            }
        }

        &.is_active {}
    }

    &_dot {
        --size: 12px;
        width: 20px;
        height: 20px;

        display: block;
        position: relative;

        &::after {
            content: '';
            width: var(--size);
            height: var(--size);

            background-color: var(--bc-btn-bc);

            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;

            border-radius: 99px;
            transition: 150ms ease-out;
            pointer-events: none;
        }
    }

    &_title {
        --alpha: 0;
        --right: 24px;
        font-size: 16px;
        font-weight: 500;
        line-height: 2;

        background-color: var(--bc-default);

        opacity: var(--alpha);
        position: absolute;
        top: 50%;
        right: var(--right);
        translate: -10px -50%;

        white-space: nowrap;
        padding: 0 24px;
        color: var(--c-btn);
        border: 1px solid currentColor;
        border-radius: 4px;
        transition: 150ms ease-out;
        pointer-events: none;
    }
}